*{
    font-family: Lucida-Sans-Demibold-Roman, sans-serif;
}
.contenedorcambio{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cambiarC{
    width: 40%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../../landing/Images/logo-cuadro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
 
}
.encabezado{
    width: 65%;
    height: 30%;
   
}
.formcambio{
    width: 65%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.formcontraseña, .formconfirmar{
    width: 80%;
    height: 40%;
}
.formcontraseña input, .formconfirmar input{
    width: 100%;
    height: 30%;
    border-radius: 1em;
    border: none;
    padding: 0 13px;
    color: #000;
}
.eye{
    width: auto;
    height: 20%;
    position: relative;
    top: -27%;
    left: 81.5%;
}
#solid{
    left: 85%;
}
.enviarform{
    width: 40%;
    height: 15%;
    border-radius: 1em;
    border: none;
    color: #000;
}