.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-image: url(../../landing/Images/logo-cuadro.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-bottom: 1%;
}
.email, .password{
    height: auto;
    overflow: visible;
}
.email div, .password div{
    width: 100%;
    height: 100%;
    border-radius: 2em;
    background-color: #fff;
}
.email label, .password label{
    top:-8px;
}
.button{
    width: 50%;
    border-radius: 2em !important;
    background-color: #F6B232 !important;
    color: #fff !important;
}
.adorment{
    height: 100%;
    width: auto;
}

/* breackpoint movil */
@media screen and (max-width: 600px) {
    .card-login{
        width: 60%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        min-width: 250px;
        background-size: 100% 80%;
    }
    .Form{
        width: 85%;
        height: 57%;
        align-items: center;
        justify-content: space-evenly;
        top: -10%;
    }
    .email, .password{
        width: 90%;
    }
    /*Styles Recaptcha*/
    #rc-imageselect, .g-recaptcha {
        display: inline; 
    }
         
    #rc-imageselect{
        max-width: 100%;
    }
         
    .g-recaptcha>div>div{
        width: 100% !important;
        height: 78px;
        transform:scale(0.77); 
        --webkit-transform:scale(0.77);
        text-align: center;
        position: relative;
    }

}
/* breackpoint tablet */
@media screen and (min-width: 601px) and (max-width: 949px) {
    .card-login{
        width: 60%;
        height: 75%;
        }
        .Form{
            width:50%;
            height:60%;
            min-width: 270px !important;
            align-items:center;
            justify-content:space-evenly !important;
            
        }
        .email, .password{
            width: 90%;
            height: 15%;
        }
}
/* breackpoint desktop */
@media screen and (min-width: 950px) {
    .card-login{
    width: 40%;
    height: 75%;
    /* display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column; */
    }
    .Form{
        width:65%;
        height:65%;
        align-items:center;
        justify-content:space-evenly !important;
    }
    .email, .password{
        width: 90%;
        height: 15%;
    }
    .email div, .password div{
        width: 100%;
        height: 100%;
        border-radius: 2em;
        background-color: #fff;
    }
}