main {
    width: 100vw;
    height: 100vh;
    background: #06294e;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(6, 41, 78, 1) 0%, rgba(6, 51, 97, 1) 7%, rgba(9, 61, 113, 0.9724264705882353) 12%, rgba(3, 69, 124, 0.9948354341736695) 16%, rgba(3, 80, 143, 1) 24%, rgba(3, 80, 143, 1) 74%, rgba(10, 70, 128, 0.97) 84%, rgba(9, 61, 113, 0.98) 90%, rgba(6, 51, 97, 1) 95%, rgba(6, 41, 78, 1) 100%);
}

/* Media query para Tablets y Movile */
.containerBox{
    padding: 0 !important;
    margin: 0!important;
    max-width:max-content;
}
