
main {
    width: 100vw;
    height: 100vh;
    background: #06294e;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(6, 41, 78, 1) 0%, rgba(6, 51, 97, 1) 7%, rgba(9, 61, 113, 0.9724264705882353) 12%, rgba(3, 69, 124, 0.9948354341736695) 16%, rgba(3, 80, 143, 1) 24%, rgba(3, 80, 143, 1) 74%, rgba(10, 70, 128, 0.97) 84%, rgba(9, 61, 113, 0.98) 90%, rgba(6, 51, 97, 1) 95%, rgba(6, 41, 78, 1) 100%);
}

/* Media query para Tablets y Movile */

@media screen and (max-width: 992px) {
    /*Carousel Style*/
    .container {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gallery {
        width: 100%;
        height: 100%;
    }
    .gallery-container {
        align-items: center;
        display: flex;
        height: 90%;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .gallery-item {
        height: 60%;
        opacity: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        width: 60%;
        z-index: 0;
        border-radius: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        -webkit-box-shadow: 0px 0px 10px 0px #000000;
        box-shadow: 0px 0px 10px 0px #000000;
    }
    .gallery-item-1 {
        left: 65%;
        opacity: .4;
        transform: translateX(-50%);
        border-radius: 1em;
    }
    .gallery-item-2,
    .gallery-item-4 {
        opacity: 1;
        z-index: 1;
        border-radius: 1em;
    }
    .gallery-item-2 {
        left: 35%;
        transform: translateX(-50%);
    }
    .gallery-item-3 {
        opacity: 1;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        border-radius: 1em;
    }
    .gallery-item-4 {
        left: 65%;
        transform: translateX(-50%);
    }
    .gallery-item-5 {
        left: 50%;
        opacity: .4;
        transform: translateX(-50%);
        border-radius: 1em;
    }
    .gallery-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        top: -90%;
        left: 0%;
    }
    .gallery-controls button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        width: 30%;
        height: 100%;
    }
    .gallery-controls button:focus {
        outline: none;
    }
    .gallery-controls-previous {
        position: relative;
    }
    .gallery-controls-previous::before {
        content: '';
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
    .gallery-controls-next {
        position: relative;
    }
    .gallery-controls-next::before {
        content: '';
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 100;
        ;
    }
}

.image-container {
    width: 100%;
    height: 100%;
    min-width: 170px;
    position: relative;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    object-fit: cover;
}

.image-container img {
    width: 70%;
    height: 80%;
}

#CI .image-container img {
    width: 50%;
    height: 90%;
}

#wop .image-container img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

#menuHP,
#menuEx,
#menuRSc,
#menuCI,
#menuwop {
    display: none;
}


/*End to Carousel*/



/*Estilo de Elementos*/

header {
    width: 100%;
    height: 20%;
}

.components-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-atenas,
.configuraciones {
    display: none;
}

.Logo-atenas {
    display: block;
    width: 55%;
    height: 80%;
    min-width: 180px;
    min-height: 115px;
}

.content-usuario {
    display: none;
}

footer {
    width: 100%;
    height: 20%;
    position: relative;
    top: 10%;
}

.complementary-buttons {
    display: none;
}

.bar-user {
    width: 60%;
    height: 45%;
    background: #fff;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    position: relative;
    top: 5%;
    left: 20%;
}

.modificables {
    width: 100%;
    height: 50%;
    background: #F6B232;
    position: relative;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: visible;
}

.log_out,
.home,
.config {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log_out svg,
.config svg,
.home svg {
    width: 65%;
    height: 65%;
    fill: #e88100
}

.config svg {
    width: 50%;
    height: 50%;
}

.home svg path,
.log_out svg path {
    width: 100%;
    height: 100%;
}

.config svg {
    width: 70%;
    height: 70%;
}

#menu_1,
#menu_2,
#menu_3,
#menu_4,
#menu_5 {
    display: none;
}


/* Media query para tablets y desktop pequeño.
NOTA: Recibirán vista de tablets
*/

@media screen and (max-width: 992px) and (min-height: 750px) {
    .bar-user {
        border-top-left-radius: 1.5em;
        border-top-right-radius: 1.5em;
    }
    .back,
    .home,
    .config {
        width: 70px;
        height: 70px;
    }
}


/* Media query para Netbock y Desktop */

@media screen and (min-width: 993px) {


iframe#iframeWOP {
    width: 100%;
    height: 100%;
    border: none;
}

    main {
        display: flex;
        flex-direction: column;
    }
    header {
        width: 100%;
        height: 20%;
    }
    .components-header {
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: normal;
    }
    .logo-atenas {
        width: 100%;
        height: 73%;
        min-width: 70px;
        max-width: 70px;
        min-height: 30px;
        max-height: 70px;
        position: relative;
        left: 15%;
        display: block;
    }
    .Logo-atenas {
        display: none;
    }
    .content-usuario {
        display: block;
        width: 15%;
        height: 10%;
        background: #fff;
        position: fixed;
        left: 86%;
        border-top-left-radius: 1.2em;
        border-bottom-left-radius: 1.2em;
        animation: logo;
        animation-duration: 2.5s;
        animation-timing-function: cubic-bezier(0.79, 1.4, 1, 1);
    }
    @keyframes logo {
        0% {
            left: 100%;
        }
        100% {
            left: 86%;
        }
    }
    .opcionesUsuario{
        width:5% ;
        height: 10%;
        position: absolute;
        left: 80%;
        overflow: visible;
    }
    
    .union{
        width: 100%;
        height: 100%;
        border: none;
        background: none;  
    }
    
    .union :first-child{
        width: 100%;
        height: 100%;  
    }
    .union :last-child{
        width: 50%;
        height: 50%;
        position: absolute;
        top: 64%;
        left: 62%;
    }
    .contenedoropcionesUsuario{
        width: 10% ;
        height: 10%;
        position: absolute;
        left: 70%;
        top: 14%;
        background: #1f1f1f;
        border-radius: .5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: scale(0);
        transform-origin: 100% 0%;
    } 
    .contenedoropcionesUsuario button{
        width: 90%;
        height: 40%;
        border: none;
        background: none;
    }
    .contenedoropcionesUsuario button a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-decoration: none;
        color: #fff;
    }
    .contenedoropcionesUsuario button img{
       
        width: 50%;
        height: 100%;
        
    }
    .container {
        width: 100%;
        height: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gallery {
        width: 100%;
        height: 90%;
    }
    .gallery-container {
        width: 100%;
        height: 90%;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    .gallery-controls {
        display: none;
    }
    .gallery-item {
        width: 17%;
    }
    .gallery-item,
    .gallery-item-3 {
        height: 60%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .gallery-item-1 {
        left: 10%;
        opacity: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .gallery-item-5 {
        left: 90%;
        opacity: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .image-container {
        width: 95%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: hsl(0, 0%, 100%);
        border-radius: 1em;
        border: none;
    }
    .image-container img {
        width: 70%;
        height: 70%;
        min-width: 113px;
        min-height: 90px;
        max-width: 235px;
        max-height: 186px;
    }
    #wop .image-container img {
        width: 100%;
        height: 75%;
        min-width: 113px;
        min-height: 90px;
        max-width: 235px;
        max-height: 186px;
    }
    #home_pantry .image-container img {
        width: 60%;
        height: 75%;
    }
    /* .card:first-child img {
        width: 75%;
        height: 70%;
    }
    .card:last-child img {
        width: 70%;
        height: 80%;
        max-width: 150px;
        max-height: 160px;
    } */
    footer {
        position: relative;
        top: 0%;
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        background: #fff;
    }
    .bar-user,
    .modificables {
        display: none;
    }
    /* carousel foooter */
    .complementary-buttons {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        height: 100%;
    }
    .slider {
        background: white;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
        height: 100%;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    .slider::before,
    .slider::after {
        background: linear-gradient(to right, #fff 5%, rgba(255, 255, 255, 0) 100%);
        content: "";
        height: 100%;
        position: absolute;
        width: 180px;
        z-index: 2;
    }
    .slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }
    .slider::before {
        left: 0;
        top: 0;
    }
    .slider .slide-track {
        animation: scroll 25s linear infinite;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: calc(250px * 14);
        height: 100%;
    }
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-250px * 7));
        }
    }
    .slider .slide {
        height: 80%;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .slide img {
        width: 100%;
        height: 100%;
    }
    /* fin del carousel*/
    #menu_1,
    #menu_2,
    #menu_3,
    #menu_4,
    #menu_5 {
        display: block;
        left: 0%;
        width: 25%;
        height: 20%;
    }
    .deplegable {
        position: absolute;
        top: 55%;
        width: 16%;
        height: 28%;
        border-radius: 1em;
        background: #1f1f1f;
        opacity: .9;
        color: #fff;
        z-index: 20;
        overflow: visible;
    }
    .container-desplegable {
        width: 80%;
        height: 85%;
        font-size: 12px;
        text-align: left;
        line-height: 180%;
        margin: 9%;
        overflow: visible;
    }
    .content-desplegable {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: visible;
    }
    .content-desplegable a {
        text-decoration: none;
        padding-left: 5%;
        color: #fff;
    }
    #elementsWOP,
    #elementsRSc,
    #elementsHP,
    #elementsExc,
    #elementsCI {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: visible;
    }
    #elementsWOP a,
    #elementsRSc a,
    #elementsHP a,
    #elementsExc a,
    #elementsCI a {
        width: 100%;
    }
    .efect:hover {
        transform: scale( 1.5);
        margin-left: 15%;
    }
    .content-desplegable hr {
        width: 100%;
        height: 1px;
        opacity: .4;
    }
    #despelgable_2 {
        left: 22.5%;
    }
    #despelgable_3 {
        height: 20%;
        left: 42%;
    }
    #despelgable_3 .container-desplegable,
    #despelgable_4 .container-desplegable,
    #despelgable_5 .container-desplegable {
        height: 90%;
    }
    #despelgable_4 .content-desplegable {
        height: 90%;
    }
    #despelgable_5 .content-desplegable {
        height: 90%;
    }
    #despelgable_4 {
        left: 61.5%;
        height: 20%;
    }
    #despelgable_5 {
        left: 81%;
        height: 20%;
    }
    #despelgable_1 {
        left: 3.4%;
        height: 20%;
    }
    /* .heart {
        position: relative;
        height: 100px;
        width: 100px;
    transform: scale(1);
    animation: pulse 2s linear infinite;
}

.heart::after {
    background: inherit;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: -50%;
    left: 0;
    height: 100px;
    width: 100px;
}

.heart::before {
    background: inherit;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    height: 100px;
    width: 100px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        transform: scale(1.3);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

*/
    #modal {
        width: 50%;
        height: 60%;
        position: fixed;
        top: 20%;
        left: 25%;
        background: papayawhip;
        border-radius: 1em;
        z-index: 100;
        animation-name: aparecer;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    #cerrar {
        width: 15%;
        height: 15%;
        position: absolute;
        top: 5%;
        left: 85%;
    }
    #texto_modal {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/*Breack Point for the style modicated*/

@media screen and (min-width: 1600px) {
    .image-container {
        border-radius: 2em;
    }
    .image-container img {
        height: 72%;
    }
    .card:first-child img {
        width: 72%;
        height: 57%;
    }
    .card:last-child img {
        width: 75%;
        height: 80%;
        max-width: 228px;
        max-height: 215px;
    }
    .content-desplegable {
        font-size: 18px;
    }
    .logo-atenas {
        max-width: 170px;
        max-height: 170px;
    }
}