*{
    font-family: Lucida-Sans-Demibold-Roman, sans-serif;
}
.Contenedordata{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
}
.MuiDrawer-paper{
    width:20%;
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    align-items: center;
  }
.atras{
    position: fixed;
    min-width: 50px;
    min-height: 50px;
    top: 90%;
    left: 1%;
    width: 1em;
    height: 1em;
    border: 0.2em solid #fff;
    border-radius: 50%;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
    padding: 0 !important;
}
.MuiTypography-body1{
    font-size: .75em !important;
}
.MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root.css-wb57ya-MuiFormControl-root-MuiTextField-root , .MuiFormControl-root.css-q8hpuo-MuiFormControl-root {
    overflow: visible !important;
    margin-top: 2%;
}
.reporte{
    border-radius: 1.5em;
    width: 14%;
    height: 35%;
    position: fixed;
    top: 50%;
    margin: 0px 1%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.MuiAccordionDetails-root.css-15v22id-MuiAccordionDetails-root {
    padding: 0 !important;
}
.MuiAccordionSummary-content.MuiAccordionSummary-contentGutters.css-o4b71y-MuiAccordionSummary-content,
.MuiAccordionSummary-content.Mui-expanded.MuiAccordionSummary-contentGutters.css-o4b71y-MuiAccordionSummary-content {
    margin: 0 !important;
}
.divPopover{
    background: transparent !important;
}

.buttonPopover{
    border: .2em solid #03508f !important;
    color: #000 !important;
    background: transparent !important;
}
.buttonPopover:hover{
    color: #fff !important;
    background: #03508f !important;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper::-webkit-scrollbar {
    -webkit-appearance: none;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper::-webkit-scrollbar:vertical {
    width: 15px;
    max-width: 40px;
    padding-left: 2%;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper::-webkit-scrollbar-button:increment,
.tableContainer::-webkit-scrollbar-button {
    display: none;
}
.tableContainer::-webkit-scrollbar:horizontal {
    height: 10px;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper::-webkit-scrollbar-thumb {
    background-color: #575756;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper::-webkit-scrollbar-track {
    border-radius: 10px;
}

.MuiCollapse-root.MuiCollapse-vertical.MuiCollapse-entered.css-pwcg7p-MuiCollapse-root {
    height: 100% !important;
    overflow-y: scroll !important;
}
li.MuiListItem-root.MuiListItem-gutters {
    width: auto !important;
    padding: 2% !important;
}

@media screen and (min-width: 992px) {
    
    .container-of-table {
        font-family: Lucida-Sans-Demibold-Roman, sans-serif;
        background: #fff;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-items: center;
        border-top-left-radius: 1.5em;
        border-bottom-left-radius: 1.5em;
        display: grid;
        grid-template-columns: 1fr 25%;
        grid-template-rows: 15% 70% 15%;
        -webkit-box-shadow: -4px 6px 20px 0px rgba(0, 0, 0, 0.49);
        box-shadow: -4px 6px 20px 0px rgba(0, 0, 0, 0.49);
    }
    .table-of-data {
        grid-column: 1/3;
        grid-row: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
        height: 100%;
        width: 95%;
    }
    .cards-of-data {
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: row;
        border-radius: 1em;
        box-shadow: 0px 12px 10px 6px rgb(0 0 0 / 15%);
        justify-content: space-evenly;
        align-items: center;
        -webkit-box-shadow: 0px 12px 10px 6px rgb(0 0 0 / 15%);
    }
    #process {
        grid-row: 3/4;
        grid-column: 2/3;
        border: none;
        border-radius: 1em;
        background: #F6B232;
        height: 40%;
        width: 65%;
        font-size: 17px;
    }
    #process a {
        color: #fff;
        text-decoration: none;
    }
    #process a:hover {
        color: #F6B232;
    }
    #process:hover {
        background: #fff;
        border: solid 2px #F6B232;
    }
    #drop-down {
        height: 100%;
        width: 20%;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .container-selecciones {
        width: 80%;
        height: 37%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container-selecciones button {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: #fff;
        border-radius: 1em;
        border: none;
        color: #03508f;
    }
    .container-selecciones button i {
        width: 6%;
        height: 60%;
    }
    .container-selecciones button i svg path {
        fill: #03508f;
    }
    .selecciones {
        font-family: Lucida-Sans-Demibold-Roman, sans-serif;
        width: 100%;
        height: 0%;
        position: relative;
        top: 2%;
        background: papayawhip;
        border-radius: 1em;
    }
    
    
    .reports-or-categories {
        background: #fff;
        border-radius: 2em;
        width: 80%;
        height: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-shadow: 0px 0px 32px 2px rgba(0, 0, 0, 0.58);
        box-shadow: 0px 0px 32px 2px rgba(0, 0, 0, 0.58);
    }
    
    #select-options {
        width: 90%;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    #tittle-services-options {
        color: #03508f;
        font-size: 24px;
        font-family: Lucida-Sans-Demibold-Roman, sans-serif;
    }
    #services-options {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .opciones {
        width: 80%;
        height: 17%;
        background: #03508f;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1em;
        color: #fff;
        border: none;
    }
    .opciones:hover {
        background: #F6B232;
    }

    #previous {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid #fff;
        background: transparent;
        position: relative;
        left: -35%;
        top: 0%;
    }
    #previous a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #previous img {
        width: 75%;
        height: 75%;
    }

}

@media screen and (min-width: 992px) and (min-height:769px) {
    .user {
        height: 9%;
    }
    .content-user {
        max-width: 350px;
        border-radius: 3em;
    }
    #user-logo {
        height: 80%;
    }
    .content-user p {
        font-size: 24px;
    }
    .reports-or-categories {
        border-radius: 3em;
        width: 70%;
        -webkit-box-shadow: 0px 0px 32px 2px rgba(0, 0, 0, 0.58);
        box-shadow: 0px 0px 32px 2px rgba(0, 0, 0, 0.58);
    }
    #previous {
        width: 65px;
        height: 65px;
        left: -30%;
        top: 0%;
    }
    #process {
        font-size: 24px
    }
    #tittle-services-options {
        font-size: 28px;
    }
    .options {
        width: 75%;
        height: 18%;
        border-radius: 2em;
        font-size: 18px;
        border: none;
    }
}