.Contenedorcompleto{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.contenedor-opciones{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column:1/3;
    grid-row: 2/2;
}
.asociar{
    position: relative;
    top: 2%;
    width: 95%;
    height: 10%;
    border-radius: .3em;
    background-color: #2FAC6A;
    z-index: 5;
}

.crear{
    background-color: #F6B232;
    position: relative;
    top: 0%;
    width: 95%;
    border-radius: .3em;
    height: 10%;
    z-index: 2;

}

.contenedor-asociar{
    background:#fff;
    border-bottom-right-radius: .3em;
    border-bottom-left-radius: .3em;
    position: sticky;
}
.contenedor-creacion{
    background:#fff;
    border-radius: .3em;
    position: sticky;
    top: 11%;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    height: 0%;
}
.crearPerfil{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
.formulario{
    display: flex;
    align-items: center;
    height: 10%;
}
.form-label{
    width: auto;
    width: 10%;
    text-align: center;
    font-family: 'lucida sans demibold roman';
}
.form-control{
    font-family: 'lucida sans demibold roman';
    border: 1px solid;
    width: 85%;
}