.Contenedorcompleto{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.contenedor-opciones{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column:1/3;
    grid-row: 2/2;
}
.consultar{
    position: relative;
    top: 2%;
    width: 80%;
    height: 10%;
    border-radius: .3em;
    background-color: #2FAC6A;
    z-index: 5;
}

.crear{
    background-color: #F6B232;
    position: relative;
    top: 0%;
    width: 80%;
    border-radius: .3em;
    height: 10%;
    z-index: 2;

}

.contenedor-consultas{
    background:#fff;
    border-bottom-right-radius: .3em;
    border-bottom-left-radius: .3em;
    position: sticky;
}
.contenedor-creacion{
    background:#fff;
    border-radius: .3em;
    position: sticky;
    top: 11%;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 0%;
}
.creaUsuario{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
.formulario{
    display: flex;
    align-items: center;
    height: 10%;
}
.form-label{
    width: auto;
    width: 10%;
    text-align: center;
    
}




#msform {
	width: 35%;
    height: 90%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
	align-items: center;
}
#msform fieldset {
    top: 10%;
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #2FAC6A;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #2FAC6A;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    overflow: hidden;
    counter-reset: step;
    width: 50%;
    height: 5%;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
    width: 50%;
		float: left;
	position: relative;
	overflow: visible;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #2FAC6A;
	color: white;
}
