/* Estilos de Data Table */

.tableContainer::-webkit-scrollbar {
    -webkit-appearance: none;
}
.tableContainer::-webkit-scrollbar:vertical {
    width: 15px;
    padding-left: 2px;
}
.tableContainer::-webkit-scrollbar-button:increment,
.tableContainer::-webkit-scrollbar-button {
    display: none;
}
.tableContainer::-webkit-scrollbar:horizontal {
    height: 10px;
}
.tableContainer::-webkit-scrollbar-thumb {
    background-color: #575756;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
.tableContainer::-webkit-scrollbar-track {
    border-radius: 10px;
}



