/* Estilos de Data Table */
#TableUsuarios {
    overflow-y: scroll;
}
#TableUsuarios::-webkit-scrollbar {
    -webkit-appearance: none;
}
#TableUsuarios::-webkit-scrollbar:vertical {
    width: 12px;
    padding-left: 2px;
}
#TableUsuarios::-webkit-scrollbar-button:increment,
#TableUsuarios::-webkit-scrollbar-button {
    display: none;
}
#TableUsuarios::-webkit-scrollbar:horizontal {
    height: 10px;
}
#TableUsuarios::-webkit-scrollbar-thumb {
    background-color: #575756;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
#TableUsuarios::-webkit-scrollbar-track {
    border-radius: 10px;
}

.dataTables_info{
    display: none;
}
#TableUsuarios{
    border-collapse: collapse;
    height: 95%;
    width: 97%;
    top: 1.5%;
    position: relative;
    display: block;
}
thead{
    width: 100%;
    display: inline-table;
    height: 10%;
}
thead tr {
    display: contents;
    width: 100%;
}
tbody{
    
    display: inline-table;
    width: 100%;
    overflow-y: scroll;
    height: 80%;

}
tr{
    width: 100%;
    height: 10%;
    display: inherit;
}
th, td{
    border: 1px solid;
    text-align: center;
}
.id{
    width: 3%;
    height: 10%;
}
.nombres, .apellidos{
    width: 15%;
    height: 10%;
    font-size: 15px;
}
.correos, .fechas, .usuarios{
    width: 10%;
    height: 10%;
    max-width: 100px;
    font-size: 15px;
    white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
}
.correos, .usuarios{
    padding: 2%;
    width: 15%;
}
.Ind_Activo, .Ind-US-Activo{
    width: 7%;
    height: 10%;
}
.herramientas{
    width: 10%;
    height: 10%;
}
.contenedor-herramientas{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
button{
    width: 25%;
    height: 45%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.contenedor-herramientas img{
    width: 75%;
    height: 75%;
}

#BoxActualizar {
    width: 50%;
    height: 60%;
    position: fixed;
    top: 20%;
    left: 25%;
    background: papayawhip;
    border-radius: 1em;
    z-index: 100;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    z-index: 300;
}
